html,body {
	height: 100%;
	background-color: black;
	margin: 0;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 50%;

}

.list {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	width: 50%;
	height: 60%;
	top:15%;
	left: 10%;
}
.back {
	position: fixed;
	background-repeat: no-repeat;
	width: 40.17px;
	height: 33px;
	left: 15px;
	bottom: 20px;
}
.home {
	position: fixed;
	background-repeat: no-repeat;
	width: 3%;
	height: 6%;
	left: 80%;
	top: 50px;
}
.cover-img {
	position: absolute;
	width: 25%;
	height: 45%;
	top: 8%;
	left: 37%
}

.title {
	position: absolute;
	width: 70%;
	height: 10%;
	top: 50%;
	left: 15%;
	text-align: center;
	font-family: 'Jockey One';
	font-style: normal;
	font-weight: 400;
	font-size: 300%;
	line-height: 55px;
	color: #FBEED2;
	margin: 0;
}

.subtitle {
	position: absolute;
	width: 70%;
	height: 10%;
	left: 15%;
	top: 60%;
	text-align: center;
	font-family: 'Jockey One';
	font-style: normal;
	font-weight: 400;
	font-size: 250%;
	line-height: 42px;
	letter-spacing: -0.02em;
	color: #FBEED2;
	margin: 0;
}

.button1 {
/* button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15.7193px 23.5789px;
gap: 7.86px;

position: absolute;
width: 140px;
height: 28px;
left: 45%;
top: 75%;

/* /Status Color / Warning */
background: #FFC107;
border-radius: 5.89474px;

font-family: 'Jockey One';
	font-style: normal;
	font-weight: 400;
	font-size: 16.5px;
	line-height: 23px;
	color: black;

}

.button2 {
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15.7193px 23.5789px;
gap: 7.86px;

position: absolute;
width: 140px;
height: 28px;
left: 45%;
top: 85%;

/* /Status Color / Warning */
background: #FFC107;
border-radius: 5.89474px;

font-family: 'Jockey One';
	font-style: normal;
	font-weight: 400;
	font-size: 16.5px;
	line-height: 23px;
	color: black;


}

.question {
	position: absolute;
	width: 40%;
	height: 27.5px;
	left: 30%;
	top: 148px;

	font-family: 'Jockey One';
	font-style: normal;
	font-weight: 400;
	text-align: center;
	font-size: 200%;
	line-height: 23px;
	color: #FBEED2;

}

.dropdownContainer {
	box-sizing: border-box;

/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;

	position: absolute;
	width: 30%;
	height: 30%;;
	left: 35%;
	top: 240px;

background: #FBEED2;
/* Stroke/Input */
border: 0.844221px solid #CED4DA;
border-radius: 6.75377px;

}

.options {
	display: row;
	position: absolute;
	list-style-type: none;
	color:#54595E;
	font-family: 'Inter';
	font-size: 100%;
	width: 30%;
	height: 30%;
	text-align: left;
	top: 32%;
	left: 28%;
	line-height: 220%;
	padding-left: 10%;
}

.result-title {
	position: absolute;
	width: 50%;
	height: 10%;
	left:0;
	top: 5%;
	letter-spacing: 0.5px;

	font-family: 'Jockey One';
	font-style: normal;
	font-weight: 400;
	font-size: 300%;
	text-align: center;
	color:#FBEED2;

	margin-bottom: 20px;
	
}

.compo-title {
	position: relative;
	width: 144px;
	height: 45px;
	left: 25px;
	top: 25px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 31.6432px;
	line-height: 38px;

	color: #FBEED2;


}

.notilogo1 {
	position: absolute;
	width: 1%;
	height: 1.5%;
	left: 40%;
	top: 14%;
}

.notilogo2 {
	position: absolute;
	width: 13px;
	height: 13px;
	left: 25px;
	top: 68px;
}

.notilogo3 {
	position:absolute;
	width: 1.5%;
	height: 2%;
	left: 32%;
	bottom: 10%;
}

.adjust-notification1 {
	position: absolute;
	width: 98%;
	height: 10%;
	left: 0;
	top: 12.5%;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 70%;
	text-align: center;
	line-height: 12px;

	color: #FBEED2;
}

.adjust-notification2 {
	position: absolute;
	width: 100%;
	height: 18.83px;
	left: 40px;
	top: 2px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	line-height: 12px;

	color: #FBEED2;
}

.combination {
	position: relative;
	color: #fff; 
	font-family: 'Inter';
	padding: 30px; /* Space inside the card */
	padding-top:1px;
	padding-bottom: 10px;
	width: 40%; /* Width of the card */
	height: 25%;
	max-width: 250px;
	display: flex; /* Use flexbox for layout */
	align-items: center; /* Align items vertically */
	gap: 5px;
	top: 90px;
}

.prodimg {
	display: grid;
	width: 30%;
	height: 50%;
}

.product-info {
	display: flex;
	flex-direction: column;
	font-size: 10px;
	color: #6C767F;

}

.product-title {
	margin-bottom:-7px;
	font-size: 15px;
	color:#FBEED2;
}

.product-prize {
	margin-top: -10px;
}

.specific {
	position: absolute;
	width: 50%;
	height: 10%;
	left: 63%;
	top: 37%;

	font-family: 'Jockey One';
	font-style: normal;
	font-weight: 400;
	font-size: 200%;
	line-height: 34px;

	color: #FBEED2;
}

.goforit {	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px 12px;
	gap: 8px;

	position: absolute;
	width: 7%;
	height: 4%;
	left: 69%;
	top: 50%;

/* /Status Color / Warning */
	background: #FFC107;
	border-radius: 6px;

}

.arrow-right {
	position: absolute;
	width: 5%;
	height: 6%;
	right: 18%;
	bottom: 4%;
}
.previewIntro {
	position: absolute;
	width: 15%;
	height: 5%;
	right: 1%;
	bottom: 5%;
	margin: 0;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 100%;
	line-height: 19px;

	color: #FBEED2;
}
.previewIntro a, .previewIntro a:visited, .previewIntro a:hover, .previewIntro a:active {
	color: #FBEED2; /* 设置链接颜色为白色 */
  }
  

.wallet{
	position: absolute;
	width: 3%;
	height: 5%;
	left: 40%;
	bottom: 3%;
}
.totalamount {
	position: absolute;
	width: 20%;
	height: 5%;
	left: 45%;
	bottom: 3%;
	margin: 0;

	font-family: 'Jockey One';
	font-style: normal;
	font-weight: 400;
	font-size: 150%;
	line-height: 34px;

	color: #FBEED2;
}

.detailed {
	display: flex;
	flex-direction: row;
	position: absolute;
	left: 20px;
	top: 110px;

}

.detailed-title {
	font-family: 'Inter';
	font-size: 13px;
	padding-left: 20px;
	padding-top: 3px;

	color: #FBEED2;
}

.detailed-list {
	list-style-type: none;
	position: absolute;
	width: 400px;
	height: 500px;
	top: 70px;
	left: -10px;
	font-family: 'Barlow Condensed';
}

.listicon {
		background-image: url('src/images/bookmark-star.png');
		background-repeat: no-repeat;
		background-position: 0 0; 
		padding-left: 0px;
		line-height: 40px; 
		margin-bottom: 0px;
		color: white;
		font-size: 16px; 
}

.preview-title {
	position: absolute;
	width: 50%;
	height: 10%;
	left:15%;
	top: 5%;
	letter-spacing: 0.5px;

	font-family: 'Jockey One';
	font-style: normal;
	font-weight: 400;
	font-size: 300%;
	text-align: center;
	color:#FBEED2;

	margin-bottom: 20px;

}

.preview-img {
	position: absolute;
	width: 50%;
	height: 60%;
	left: 25%;
	top: 185px;
}

.preview-noti {
	position: absolute;
	width: 30%;
	height: 10%;
	left: 35%;
	bottom: 2%;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 80%;
	line-height: 20px;

	color: #FBEED2;
}